.parent-third-section {
  height: 100%;
  width: 100%;
  padding: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: -webkit-fill-available;
  .parragraph-third {
    max-width: 782px;
    margin-bottom: 50px;
  }
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    section {
      background-color: #1c1c19; 
      color: #fecc01;
      max-width: 288px;
      border-radius: 5px;
      margin: 10px 22px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
