.parent-modal {
    position: fixed;
    max-height: 173px;
    height: 100%;
    bottom: -117px;
    width: 100%;
  .modal {
    height: 100%;
    a{
      text-decoration: none;
      color: #fecc01;
    }
   
    .modal-content {
      background-color: #fecc01;
      padding: 9px 16px;
      border-radius: 5px;
      h2 {
        margin: 0 0 10px 0;
        text-align: end;
      }
      .close-button {
        cursor: pointer;
      }
      .buttons-modals {
        display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
        button {
          margin: 7px 12px;
          border: 0;
          border-radius: 5px;
          cursor: pointer;
          padding: 5px;
          background-color: #1c1c19;
          color: #fecc01;
        }
        button:hover {
          color: #1c1c19;
          background-color: #fecc01;
          border: 1px solid;
          & a{
            color: #1c1c19;
          }
        }
      }
    }
  }
}
